
/* This class is intended to format the table that we obtained using pandas */
.dataframe{
border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 3px solid #fff;
    text-align:center;
}
/* Further formatting for the rows and headers */
.dataframe thead tr{

    background-color: #E23524;
    color: #ffffff;
    text-align: center;

}
/* Change the format of the even rows to provide some contrast for every other row */
.evenrow{
background-color: #505655

}
