<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name = "viewport" content="width=device-width, initial-scale=1">
    <title>Mars Scraping Module</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" href = "../static/bootstrap.css">
</head>


<body>

    <div class="jumbotron">
  <h1 class="display-4" align = 'center'>Mars Scraping Module</h1>
  <p class="lead">{{structure}} </p>
  <hr class="my-4">

            <div class = 'text-center'>
                <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">TO MARS!</a></p>
            </div>
    </div>


<div align = 'center'>
    <div class="card text-white bg-primary mb-3" style="max-width: 50rem;">
        <a href = 'https://mars.nasa.gov/news/8812/5-hidden-gems-are-riding-aboard-nasas-perseverance-rover/' target = _blank>
            <div class="card-header"><h2>Featured Article</h2></div>
            </a>
  <div class="card-body">
    <h4 class="card-title">{{structure['article_dictionary']['title']}}</h4>
      <p class="card-text"> <em> {{structure['article_dictionary']['date']}}</em></p>
      <p>{{structure['article_dictionary']['text']}}</p>
  </div>
</div>
    </div>
    <div class = 'container'>
<div class = 'row'>
    <div class = 'col-md-7'>
            <h3 align = 'center'> Featured Image of the Day</h3>
            <img src = "{{structure['featured_dictionary']['url']}}", alt = 'NOTHING', style = "width:100%; border-radius: 50px">
            <h4>{{structure['featured_dictionary']['title']}}</h4>
    </div>

    <div class = 'col-md-5'>
        <table>{{structure['table_string'] | safe }}</table>

    </div>
</div>
        </div>



<div class = 'row'>
        {% for hemi in structure['hemisphere_list'] %}

            <div class = 'col-md-6', style = 'padding: 50px'>
                <div class="thumbnail">
                <a href="">
                    <img src="{{hemi['img_url']}}" alt="{{hemi['title']}}" style="width:100%">
                    <div class="caption">
                        <h4 align = 'center'>{{hemi['title']}}</h4>
                    </div>
                </a>
                </div>
            </div>


        {% endfor %}

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>